<%= form_for @post do |f| %>
	<div class="form-input">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="form-input">
		<%= f.label :text %>
		<%= f.text_field :text %>
	</div>
	<div class="form-input">
		<%= f.label :source %>
		<%= f.text_field :source %>
	</div>
	<div class="form-input">
		<%= f.label :post_type %>
		<%= f.text_field :post_type %>
	</div>
	<%= f.submit %>
<% end %>