<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar-top">
		<ul class="menu-list">
			<li><%= link_to('<span class="link logo">LOGO</span>', posts_path, class: "menu-list_link") %><span class="link logo"></span></li>
			<li><%= link_to('<span class="link company-name strong">Hacker News</span>', posts_path, class: "menu-list_link") %></li>
			<li><%= link_to('<span class="link">new</span>', posts_path, class: "menu-list_link") %></li>
			<li><%= link_to('<span class="link">comments</span>', posts_path, class: "menu-list_link") %></li>
			<li><%= link_to('<span class="link">show</span>', posts_path, class: "menu-list_link") %></li>
			<li><%= link_to('<span class="link">ask</span>', posts_path, class: "menu-list_link") %></li>
			<li><%= link_to('<span class="link">jobs</span>', posts_path, class: "menu-list_link") %></li>
			<li><%= link_to('<span class="link">submit</span>', new_user_path, class: "menu-list_link") %></li>
		</ul>
	</nav>


	<section class="main-content">
		<%= yield %>
		whatever
	</section>
</body>
</html>
